extends ui_layout
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .ui.container(style="padding:0;")
    br
    h2 Pick a Module
    br

    .ui.four.stackable.link.cards(style="padding-bottom:4em;")
        
        a.ui.card(style="display:none;" href='/intro/esteem' data-modCard="esteem")
          .image
            img(src=cdn+'/esteem.png')
          .content
            .header="The Ups and Downs of Social Media" 

        a.ui.card(style="display:none;" href='/intro/digital-literacy' data-modCard="digital-literacy")
          .image
            img(src=cdn+'/news.png')
          .content
            .header="News in Social Media"

        a.ui.card(style="display:none;" href='/intro/targeted' data-modCard="targeted")
          .image
            img(src=cdn+'/targetedads.png')
          .content
            .header="Ads on Social Media"

        a.ui.card(style="display:none;" href='/intro/phishing' data-modCard="phishing")
          .image
            img(src=cdn+'/phishing.png')
          .content
            .header="Scams and Phishing"

        a.ui.card(style="display:none;" href='/intro/cyberbullying' data-modCard="cyberbullying")
          .image
            img(src=cdn+'/upstander.png')
          .content
            .header="How to Be an Upstander"
   
        a.ui.card(style="display:none;" href='/intro/digfoot' data-modCard="digfoot")
          .image
            img(src=cdn+'/digfoot.png')
          .content
            .header="Shaping Your Digital Footprint"
              
        a.ui.card(style="display:none;" href='/intro/eval' data-modCard="eval")
          .image
            .ui.green.ribbon.label Final Module
            img(src=cdn+'/advancednews.png' style="opacity:0;")
          .content
            .header="Final Module" 
            
        //- a.ui.card(href='/intro/presentation')
        //-   .image
        //-     img(src=cdn+'/onlineidentity.png')
        //-   .content
        //-     .header="Online Identities"
    
        //- a.ui.card(href='/intro/accounts')
        //-   .image
        //-     .ui.blue.ribbon.label NEW!
        //-     img(src=cdn+'/acctandpasswords.png')
        //-   .content
        //-     .header="Accounts and Passwords"  
        
        //- a.ui.card(href='/intro/habits')
        //-   .image
        //-     .ui.blue.ribbon.label NEW!
        //-     img(src=cdn+'/smhabits.png')
        //-   .content
        //-     .header="Healthy Social Media Habits"
        
        //- a.ui.card(href='/intro/safe-posting')
        //-   .image
        //-     img(src=cdn+'/privateinfo.png')
        //-   .content
        //-     .header="Is It Private Information?"
        
        //- a.ui.card(href='/intro/advancedlit')
        //-   .image
        //-     .ui.grey.ribbon.label In Development
        //-     img(src=cdn+'/advancednews.png')
        //-   .content
        //-     .header="Advanced News Literacy" 
        
        //- a.ui.card(href='/intro/privacy')
        //-   .image
        //-     img(src=cdn+'/smprivacy.png')
        //-   .content
        //-     .header="Social Media Privacy" 
block scripts
  script.  
    const userGroup = "#{user.group}";
  script(src='/module_js/mods.js')
